video {
  background: #222;
  margin: 0 0 20px 0;
  --width: 100%;
  width: var(--width);
  height: calc(var(--width) * 0.75);
}

div#container {
  margin: 0 auto 0 auto;
  max-width: 60em;
  padding: 1em 1.5em 1.3em 1.5em;
}

textarea {
  color: #444;
  font-size: 0.9em;
  font-weight: 300;
  height: 7.0em;
  padding: 5px;
  width: calc(100% - 10px);
}